<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <style media="screen">
    body {
      background-image: url("https://i.pinimg.com/originals/06/2b/7f/062b7fb9cfd2a6351f4e0850c1e1ed50.jpg");
    }
  </style>
  <body >
    <nav class='navbar navbar-default navbar-static-top'>
      <div class="container">
        <ul class='nav navbar-nav'>
          <li> <a class="navbar-brand" href=" {url 'index'} " > Home </a>  </li>
          <li> <a class="navbar-link" href="{% url 'admin:index' %}"> Admin </a> </li>
          <li> <a class="navbar-link" href="{% url 'user' %}"> User </a> </li>

        </ul>
        <!-- <div class="jumbotron">
          <h2>Course Management System </h2>

        </div> -->

      </div>

    </nav>
    {% block body_block %}
    {% endblock %}
  </body>
</html>
